* {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height:  350px;
    border-bottom: 15px solid rgb(35, 160, 53);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    /* left: 120px; */
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms  ease-out;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}

.game-score {
    margin-top: 20px;
    color: rgb(132, 207, 102);
    margin-left: 15px;
}

.game-over {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(248, 25, 25, 0.87);
    display: none;
}

.game-over h2 {
    margin-bottom: 1.6rem;
}

.info-game {
    width: 100%;
    height: 275px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#582417, #c57d56);
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }
}